body {
  background-color: #ffffff; /* light grey */
  margin: 0;
  font-family: Arial, sans-serif;
}


img{
    width: 80%;
    border-radius: 10px;
}

.hero-image{
    background-image: url("./mi2ya.jpeg");
    height: 400px ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.hero-text{
    color: aliceblue;
    position: absolute;
    text-align: center;
    top: 180px;
    width: 100%;
    font-size: 4rem;
}

.four-column-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 20px 0;
  }
  
  .four-column-button:hover {
    background-color: #357ABD;
    box-shadow: 0 6px 10px rgba(0,0,0,0.15);
  }
  
  .four-column-button img {
    max-width: 60px;
    margin-bottom: 15px;
  }
  
  .four-column-button p {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
  }
  
.four-column {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
    width: 90%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 50px;
}

.four-column .card img {
  width: 100%;       /* makes the image fill the width of the card */
  height: 300px;     /* fixes the height of the image */
  object-fit: cover; /* crops the image to keep its aspect ratio */
  display: block;    /* removes inline spacing issues */
  margin-bottom: 30px;
}

.two-column{
    display: grid;
    grid-template-columns: 1.5fr 2.5fr;
    gap: 50px;
    width: 80%;
    margin: auto;
    margin-top: 40px;
}

.info{
    font-size: 1.25em;
}

.card{
    background-color: rgb(66, 66, 66);
    width: 100%;
    object-fit: cover;
    border-radius: 12px 12px 12px 12px;
    overflow: hidden; 
    text-align: center;
    padding: 8px 16px;
}

.card-text{
    text-align: center;
    color: whitesmoke
}

button {
  background-color: #ffffff;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1rem;
}

button:hover {
  background-color: #023e8a;
}
